/* Header */

.weather-header {
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 70%);
}


/* Search section */

.input-group {
    flex-direction: column;
    justify-content: center;
}

#search-input {
    margin: 5px;
}

.input-group-append {
    justify-content: center;
    flex-direction: column;
}

button {
    height: 30px;
    width: 96%;
    margin: 2px 6px !important;
    padding: 0px !important;
    border-radius: 4px !important;
    background-color: #3a59b4c7 !important;
    color: white !important;
}

#search-button {
    background-color: #2d5ab2 !important;
    margin: auto !important;
}

.weather-hr {
    border : 1px solid grey;
    width: 100%;
    margin: 10px 0px;
}


/* Today's weather */

#today {
    padding: 10px;
}

img {
    width: 40px;
    height: 40px;
}


/* Forecast section  */

#forecast {
    justify-content: center;
}

#forecast h5 {
    width: 100%;
    padding: 15px;
}

.card-deck {
    margin: 0px;
    width: 98%;

}

.card{
    background-color: #44a0df!important;
    color: white;
    padding: 5px;
    width: 135px;
    margin: 10px !important;
}

.card pre{
    color: white;
}