/* Header */

.weather-header {
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 70%);
}

/* Today weather */

#today {
    border: 1px solid;
    padding: 10px;
}

img {
    width: 40px;
    height: 40px;
}

/* Forecast section  */

#forecast {
    justify-content: center;
}

#forecast h5 {
    width: 100%;
    padding: 15px;
}

.card{
    background-color: #44a0df!important;
    color: white;
    padding: 5px;
    width: 160px;

}
.card pre{
    color: white;
}